<% if params[:query].present? %>
  <% if @experiences.any? %>
    <div class="container mt-3 mb-3">
      <h3>All experiences</h3>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <% @experiences.each do |experience| %>
          <div class="col w-25">
            <div class="card">
              <%= link_to experience_path(experience.id), target: :_blank, class: "text-decoration-none text-dark" do %>
                <%= experience.photo.attached? ? cl_image_tag(experience.photo.key, alt: "experience-image", class: "card-img-top img-thumbnail") : image_tag("https://source.unsplash.com/featured?adventure&#{rand(1000)}", alt: "experience-image", class: "card-img-top img-thumbnail") %>
                <div class="info d-flex justify-content-between align-items-end">
                  <div class="card-body">
                    <h5 class="card-title"><%= experience.title %></h5>
                    <p class="card-text"><%= number_to_currency("#{experience.price}", {unit: '¥', precision: 0}) %>/person</p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="container my-4">
      <h5>No results found for <em>"<%= params[:query] %>"</em></h5>
    </div>
  <% end %>
<% else %>
  <div class="banner text-center">
    <h1>Just Survive</h1>
    <p><em>Beyond your limit</em></p>
  </div>
  <div class="container mt-3 mb-3">
    <h3>All experiences</h3>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @experiences.each do |experience| %>
        <div class="col w-25">
          <div class="card">
            <%= link_to experience_path(experience.id), target: :_blank, class: "text-decoration-none text-dark" do %>
              <%= experience.photo.attached? ? cl_image_tag(experience.photo.key, alt: "experience-image", class: "card-img-top img-thumbnail") : image_tag("https://source.unsplash.com/featured?adventure&#{rand(1000)}", alt: "experience-image", class: "card-img-top img-thumbnail") %>
              <div class="card-body" style="height: 110px;">
                <h5 class="card-title"><%= experience.title %></h5>
                <p class="card-text"><%= number_to_currency("#{experience.price}", {unit: '¥', precision: 0}) %>/person</p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
