<div class="container min-vh-100">
  <div class="row mt-4">
    <div class="col-6">
      <% if @experience.photo.present? %>
        <img src="<%= cl_image_path(@experience.photo.key) %>" alt="My Image" style="width: 80%; height: 80%;" >
      <% else %>
        <img src="https://images.unsplash.com/photo-1567097194892-d6ecbf4a44b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80" alt="My Image" style="width: 90%; height: 90%;">
      <% end %>
    </div>
    <div class="col-5">
      <div class="row d-flex text-start">
        <h2>" <%=@experience.description%> "</h2>
      </div>
      <div class="row d-flex mt-5">
        <div class="col"><img src="https://images.unsplash.com/photo-1567097194892-d6ecbf4a44b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80" alt="My Image" style="width: 100%; height: 100% border-radius: 100%;" class="sm-images"></div>
        <div class="col"><img src="https://images.unsplash.com/photo-1567097194892-d6ecbf4a44b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80" alt="My Image" style="width: 100%; height: 100%;"  class="sm-images"></div>
        <div class="col"><img src="https://images.unsplash.com/photo-1567097194892-d6ecbf4a44b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80" alt="My Image" style="width: 100%; height: 100%;"  class="sm-images"></div>
        <div class="col"><img src="https://images.unsplash.com/photo-1567097194892-d6ecbf4a44b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80" alt="My Image" style="width: 100%; height: 100%;"  class="sm-images"></div>
        <div class="col sm-images" style="background-color: lightgrey; text-align: center; display: flex; justify-content: center; align-items: center;">+20</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="container">
        <div class="row justify-content-between align-items-center border-bottom pb-2 border-1 border-dark">
          <div class="col-10">
            <p>Category: <%=@experience.category%> , Location: <%=@experience.location%></p>
            <h5><strong> <%=@experience.category%> survival experience hosted by <%=@experience.user["name"]%></strong></h5>
          </div>
          <div class="col-1">
            <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
          </div>
        </div>
        <div class="row border-bottom pb-2 border-1 border-dark">
    <div class="col-8 m-3">
  <section>
    <div class="row text-center">
      <% @experience.reviews.last(4).each do |review| %>
        <div class="col-md-4 col-lg-3 mb-5 mb-md-0">
          <h5 class="mb-3"></h5>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>
            <%=review.comment %>
          </p>
          <!-- Font Awesome needed -->
          <div class="d-flex justify-content-evenly">
            <% review.rating.to_i.times do %>
              <i class="fas fa-star text-info"></i>
            <% end %>
            <% (5 - review.rating).to_i.times do %>
              <i class="far fa-star"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
 </div>
  </div>
    <div class="row mt-2 mb-3 ">
          <p>Map</p>
          <div style="width: 100%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>
    </div>

     <div class="col-4 d-flex flex-column">
      <div class="border border-dark pb-3 mb-3 rounded-4 pt-5 text-center">
        <h3><%= number_to_currency("#{@experience.price}", {unit: '¥', precision: 0}) %>/Person</h3>
        <%= simple_form_for [@experience,@booking] do |f|%>
          <%= f.input :start_date, html5: true %>
          <%= f.input :end_date, html5: true %>
          <%= f.submit class: "btn btn-outline-secondary" %>
        <% end %>
      </div>
      <div class="border border-dark mb-2 rounded-4 pt-5 text-center mb-3">
        <h3>Review your experience</h3>
        <%= render 'reviews/form', review: @review %>
      </div>
    </div>
  </div>
</div>
